p.highlight{
    color: rgb(12, 126, 213);
}

div#special{
    background: orange;
    box-shadow: 0.1em 0.1em 0.5em rgb(0, 0, 0, 0.2);
}

details[open] summary {
    font-size: 1.2em;
    color: green;
}

a {
    color: green
}

a[href^="/"] {
    color: rgb(193, 145, 171)
}

a[href^="https://softuni.bg"] {
    color: rgb(213, 133, 57)
}

p.someclass1.someclass2.someclass3 {
    color: blue
}
