/* header nav ul li a {
    text-decoration: none;
} */

header a {
    text-decoration: none;
}

header .site-title a{
    color: green
}

header nav a {
    color: orange;
}

main.site-content > .service {
    background: lightblue;
}

/* Adjacent Sibling Combinator: непосредствено след мен*/
.service + .service {
    color: red;
}

/* General Sibling Combinator: след мен на същото ниво*/
.site-content h2 ~ section {
    background: lightgrey;
}

/* .service:nth-child(2) {
    font-size: 2em;
    color: red;
    font-weight: bold;
} */

.service:first-of-type {
    font-size: 2em;
    color: red;
    font-weight: bold;
}
